<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="spring.mybatis.MemberDTO" alias="memberdto"/>
	</typeAliases>

	<!-- DataSource 설정으로 불필요 -->
	<!-- DB연결에 대한 소스를 입력 부분 -->
	<!-- <environments default="mydb">
		<environment id="mydb">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="org.mariadb.jdbc.Driver"/>
				<property name="url" value="jdbc:mariadb://localhost:3306/memberdb"/>
				<property name="username" value="jdbc"/>
				<property name="password" value="jdbc"/>
			</dataSource>
		</environment>
	</environments> -->
	
	<!-- SQL매핑 설정  -->
	<!--<mappers>
		<mapper resource="mybatis/sql-mapping.xml"/> 복수 설정시 객체 추가
	</mappers> -->
</configuration>