<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender"> <!-- 로그 위치 콘솔 -->
		<param name="Target" value="System.out" /> 
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m%n" /> <!-- 로그 구분과 출력 패턴 -->
		</layout>
	</appender>
	
	<!-- Application Loggers -->
	<logger name="a.b.spring"> <!-- 기본패키지에서 생기는 로그의 첫 이름 -->
 		<level value="info" />
	</logger>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="debug" /> <!-- log만, error만 등으로 보여달라 변경 가능 --> 
		<appender-ref ref="console" />
	</root>
	
</log4j:configuration>
